import init.pxa1908.usb.rc
import init.pxa1908.tel.rc
import init.pxa1908.sensor.rc
import init.pxa1908.security.rc

on init
# See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /mnt/shell/emulated/0 0700 shell shell
    mkdir /mnt/media_rw/external 0700 media_rw media_rw
    mkdir /mnt/media_rw/usb 0700 media_rw media_rw

    mkdir /storage/emulated 0555 root root
    mkdir /storage/external 0555 root root
    mkdir /storage/usb      0555 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export SECONDARY_STORAGE /storage/external
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated
    export MEDIA_STORAGE /data/media

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

    setprop ro.board.platform mrvl

    write /proc/sys/kernel/printk "1 4 1 7"
    write /proc/sys/vm/legacy_va_layout 1

    # for control LCD backlight
    chown system system /sys/class/backlight/lcd-bl/brightness

    # for sd8xxx wifi and bluetooth power
    chown system system /sys/class/rfkill/rfkill0/state
    chown system system /sys/class/rfkill/rfkill1/state

    setprop persist.sys.display.format 1

    #wifi
    chmod 0660 /sys/devices/platform/sd8x-rfkill/pwr_ctrl
    chown system system /sys/devices/platform/sd8x-rfkill/pwr_ctrl

    #cpu
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0444 /sys/devices/system/cpu/cpu0/cpufreq/cpuinfo_cur_freq

    #hotplug
    chown system system /sys/devices/system/cpu/hotplug/bound_freq
    chown system system /sys/devices/system/cpu/hotplug/load_h0
    chown system system /sys/devices/system/cpu/hotplug/load_h1
    chown system system /sys/devices/system/cpu/hotplug/load_h2
    chown system system /sys/devices/system/cpu/hotplug/load_l1
    chown system system /sys/devices/system/cpu/hotplug/load_l2
    chown system system /sys/devices/system/cpu/hotplug/load_l3
    chown system system /sys/devices/system/cpu/hotplug/lock
    chown system system /sys/devices/system/cpu/cpu1/online
    chown system system /sys/devices/system/cpu/cpu2/online
    chown system system /sys/devices/system/cpu/cpu3/online

    chmod 0644 /sys/devices/system/cpu/hotplug/bound_freq
    chmod 0644 /sys/devices/system/cpu/hotplug/load_h0
    chmod 0644 /sys/devices/system/cpu/hotplug/load_h1
    chmod 0644 /sys/devices/system/cpu/hotplug/load_h2
    chmod 0644 /sys/devices/system/cpu/hotplug/load_l1
    chmod 0644 /sys/devices/system/cpu/hotplug/load_l2
    chmod 0644 /sys/devices/system/cpu/hotplug/load_l3
    chmod 0644 /sys/devices/system/cpu/hotplug/lock
    chmod 0644 /sys/devices/system/cpu/cpu1/online
    chmod 0644 /sys/devices/system/cpu/cpu2/online
    chmod 0644 /sys/devices/system/cpu/cpu3/online

    #ddr
    chown system system /sys/class/devfreq/devfreq-ddr/polling_interval
    chown system system /sys/class/devfreq/devfreq-ddr/min_freq
    chown system system /sys/class/devfreq/devfreq-ddr/max_freq
    chown system system /sys/class/devfreq/devfreq-ddr/governor
    chown system system /sys/class/devfreq/devfreq-ddr/cur_freq

    #vpu
    chown system system /sys/class/devfreq/devfreq-vpu.0/userspace/set_freq
    chown system system /sys/class/devfreq/devfreq-vpu.0/min_freq
    chown system system /sys/class/devfreq/devfreq-vpu.0/max_freq
    chown system system /sys/class/devfreq/devfreq-vpu.0/governor
    chown system system /sys/class/devfreq/devfreq-vpu.0/cur_freq

    #touchscreen
    chown system system /sys/bus/i2c/drivers/atmel_mxt_ts/3-004b/user_hand
    chown system system /sys/bus/i2c/drivers/atmel_mxt_ts/3-004b/user_offset_x
    chown system system /sys/bus/i2c/drivers/atmel_mxt_ts/3-004b/user_offset_y
    chown system system /sys/bus/i2c/drivers/atmel_mxt_ts/3-004b/tp_selftest

    #keypad wakeup source
    chown system system /sys/devices/platform/soc.2/d4000000.apb/pxa27x-keypad/power/wakeup

    #pm runtime
    chown system system /sys/devices/platform/epdcfb.0/power/control
    chown system system /sys/class/graphics/fb0/device/power/control
    chown system system /sys/bus/i2c/drivers/atmel_mxt_ts/3-004b/power/control
    chown system system /sys/bus/platform/drivers/twl6030_bci/twl6030_bci/power/control
    chown system system /sys/bus/platform/drivers/mmp-disp/mmp-disp/power/control
    chown system system /sys/bus/platform/drivers/mmp-vdma/d4209000.vdma/power/control
    chown system system /sys/bus/platform/drivers/log_ctrl/logctrl.13/power/control
    chown system system /sys/devices/platform/mrvl8xxx_fm.0/power/control
    chown system system /sys/bus/i2c/devices/1-0018/power/control
    chown system system /sys/bus/i2c/devices/1-0022/power/control
    chown system system /sys/bus/i2c/devices/1-0026/power/control
    chown system system /sys/bus/i2c/devices/1-0029/power/control

    #suspend status
    chown system system /sys/power/asleep
    chmod 0660 /sys/power/asleep

    #autosleep
    chown system system /sys/power/autosleep

    chmod 0660 /sys/power/panic
    chown root system /sys/power/panic

    chown system system /sys/class/power_supply/battery/device/calibration
    chown system system /sys/devices/platform/mmp-gps/ctrl

    chown system system /sys/class/graphics/fb0/device/vsync
    chmod 0660 /sys/class/graphics/fb0/device/vsync

    #GSSP device
    chown system system /proc/driver/pcm_mfp
    chmod 0666 /proc/driver/pcm_mfp

    # master/slave
    chown media audio /sys/devices/platform/sound/ssp_master
    chmod 0664 /sys/devices/platform/sound/ssp_master

    chown media audio /sys/devices/platform/sound/gssp_master
    chmod 0664 /sys/devices/platform/sound/gssp_master

    #set ap as master, codec/BT as slave
    setprop persist.audio.apmaster 1
    setprop persist.audio.gsspmaster 1
    setprop persist.audio.codecmaster 0
    setprop persist.bt.pcmmaster 0

    # gssp record
    chown media audio /sys/devices/platform/sound/gssp_record
    chmod 0664 /sys/devices/platform/sound/gssp_record

    #enable DRM service
    setprop drm.service.enabled true

    setprop battery.fake_ac 1

    #pwm
    chown system system /sys/devices/platform/soc.2/d4000000.apb/d401ac00.pwm/pwm/pwmchip0/pwm0/enable
    chown system system /sys/devices/platform/soc.2/d4000000.apb/d401ac00.pwm/pwm/pwmchip0/pwm0/sleep_test
    chmod 0664 /sys/devices/platform/soc.2/d4000000.apb/d401ac00.pwm/pwm/pwmchip0/pwm0/enable
    chmod 0220 /sys/devices/platform/soc.2/d4000000.apb/d401ac00.pwm/pwm/pwmchip0/pwm0/sleep_test

    #pen orientation interface
    chown system system /sys/devices/platform/soc.2/d4000000.apb/d4013800.i2c/i2c-3/3-004b/portrait
    chmod 0664 /sys/devices/platform/soc.2/d4000000.apb/d4013800.i2c/i2c-3/3-004b/portrait

on fs
    # enable encryption
    setprop ro.vold.forceencryption 1

    # mount /data by fstab to support encryption.
    mount_all /fstab.pxa1908

    mount debugfs debugfs /sys/kernel/debug

    setprop ro.crypto.fuse_sdcard true

    exec /system/bin/sh /system/etc/dynamic_build_prop

on post-fs
    insmod /lib/modules/galcore.ko registerMemBase=0xc0400000 registerMemSize=0x1000 irqLine=40 contiguousSize=0x2000000 pmemSize=0 registerMemBase2D=0xd420c000 irqLine2D=104  registerMemSize2D=0x1000

    chown system system /sys/devices/platform/galcore/power/control
    #gpu
    chown system system /sys/devices/platform/galcore/gpu/gpu0/gpufreq/scaling_governor
    chown system system /sys/devices/platform/galcore/gpu/gpu0/gpufreq/scaling_min_freq
    chown system system /sys/devices/platform/galcore/gpu/gpu0/gpufreq/scaling_max_freq
    chown system system /sys/devices/platform/galcore/gpu/gpu1/gpufreq/scaling_governor
    chown system system /sys/devices/platform/galcore/gpu/gpu1/gpufreq/scaling_min_freq
    chown system system /sys/devices/platform/galcore/gpu/gpu1/gpufreq/scaling_max_freq
    chown system system /sys/devices/platform/galcore/gpu/gpu2/gpufreq/scaling_governor
    chown system system /sys/devices/platform/galcore/gpu/gpu2/gpufreq/scaling_min_freq
    chown system system /sys/devices/platform/galcore/gpu/gpu2/gpufreq/scaling_max_freq

    # hotplug
    chown system system /sys/devices/system/cpu/cpunum_qos/min_core_num
    chown system system /sys/devices/system/cpu/cpunum_qos/max_core_num

    # add non-cache trace node to radio group
    chown system radio /sys/kernel/debug/tracing/trace_noncached_on
    chmod 0664 /sys/kernel/debug/tracing/trace_noncached_on

on post-fs-data
    setprop wifi.interface wlan0
    setprop wifidirect.interface p2p0

    mkdir /data/system 0775 system system

    # create folder to save wifi/bt config files with mac address, and calibrate files
    mkdir /data/misc/wireless 0771 system system

    # create filesystem for wifi & dhcp
    mkdir /data/misc/wifi 0771 wifi wifi
    mkdir /data/misc/wifi/sockets 0771 wifi wifi
    mkdir /data/misc/wifi/wapi_certs 0777 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    #Power Meter: for duty cycle profiling
    chown system system /sys/kernel/debug/pxa/stat/cpu_dc_stat
    chown system system /sys/kernel/debug/pxa/stat/ddr_dc_stat
    chown system system /sys/kernel/debug/pxa/stat/gc_dc_stat
    chown system system /sys/kernel/debug/pxa/stat/gc2d_dc_stat
    chown system system /sys/kernel/debug/pxa/stat/vpu_dc_stat
    chown system system /sys/class/devfreq/devfreq-ddr/device/ddr_profiling

    # for log capture
    mkdir /data/log 0775 system shell

    mkdir /data/log/Mlog 0775 system radio
    chown radio shell /data/log/Mlog
    chmod 0775 /data/log/Mlog

    mkdir /storage/emulated/legacy/testmode 0775 system shell
    mkdir /storage/emulated/legacy/testmode/log 0775 system shell

    # copy last kernel panic log
    copy /sys/fs/pstore/console-ramoops /data/log/console-ramoops

    # for simal
    mkdir /data/misc/simal 0777 wifi system
    chmod 0777 /data/misc/simal

    # for Phone plugin
    mkdir /data/misc/phone 0777 media media
    chown media media /data/misc/phone
    chmod 0777 /data/misc/phone

    # for kernel hifi1/hifi2 dump
    chown system system /sys/devices/platform/sound/hifi1_playback_dump
    chmod 0664 /sys/devices/platform/sound/hifi1_playback_dump
    chown system system /sys/devices/platform/sound/hifi1_capture_dump
    chmod 0664 /sys/devices/platform/sound/hifi1_capture_dump

    #Audio Dump: for audio data dump 
    mkdir /data/log/audio 0775 system audio

    #Audio Calibration: for socket access
    mkdir /data/misc/audio 0750 media system

    # for camera dump
    mkdir /data/log/camera 0775 media shell

    # for NFC
    mkdir /data/nfc 0771 nfc system

    #This line should be put at the end of post-fs-data action
    setprop vold.post_fs_data_done 1

on boot
    #for updater
    chown system system /dev/block/mmcblk0
    chmod 0660 /dev/block/mmcblk0

    setprop ro.media.gst.enabled 1
    setprop service.camera.af 1

    #enable camera ZSL feature
    setprop service.camera.zsl_mask 1

    #enable camera MMU
    setprop service.camera.isp.mmu 1

    # enable bluetooth dial-up network
    setprop  ro.bluetooth.dun true

    # set opengles version as 0x20000
    # opengles major version = (version & 0xffff0000)>>16
    # opengles minor version = version & 0xffff
    setprop ro.opengles.version 131072

    # Enable HW decoder for video thumbnail generation
    setprop thumbnail.extract.hw_num 1

    # disable lock screen
    setprop ro.lockscreen.disable.default 1

# virtual sdcard daemon running as media_rw (1023)
service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

service fuse_external /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/external /storage/external
    class late_start
    disabled

service fuse_usb /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usb /storage/usb
    class late_start
    disabled

# we will start as root and wpa_supplicant will switch to user wifi
# after setting up the capabilities required for WEXT
service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

# we will start as root and wpa_supplicant will switch to user wifi
# after setting up the capabilities required for WEXT
service p2p_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets \
    -puse_multi_chan_concurrent=1 -N -ip2p0 -Dnl80211 \
    -c/data/misc/wifi/p2p_supplicant.conf \
    -I/system/etc/wifi/p2p_supplicant_overlay.conf \
    -puse_p2p_group_interface=1use_multi_chan_concurrent=1 \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

# hostapd
service hostapd /system/bin/hostapd -e/data/misc/wifi/entropy.bin /data/misc/wifi/hostapd.conf
    class main
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

# init.rc does not yet support applying capabilities, so run as root and
# let wireless daemon drop uid to system with the right linux capabilities
service mwirelessd /system/bin/MarvellWirelessDaemon
    class main

service filemonitor /system/bin/FileMonitorService
    class main
    user system
    group system

service phservice /system/bin/phservice
    class core
    user system
    group system

# daemon service for IPSec
#service ipsecd /system/bin/ipsecd
#    class main
#    socket ipsec stream 660 net_admin radio
#    user net_admin
#    group net_admin system

# init.rc does not yet support applying capabilities, so run as root and
# let FMRadioServer drop uid to system with the right linux capabilities
service FMRadiod /system/bin/FMRadioServer
    class main

service mned /system/bin/MarvellNfcExtensionsDaemon
    class main
    user nfc
    group nfc

service codecIPC_server /system/bin/codecIPC_server
    class main
    user media
    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm
    ioprio rt 4

# set lcd density accoring to LCD info to support multiple LCD panel
on property:ro.boot.lcd=fwvga
    setprop ro.sf.lcd_density 240

on property:ro.boot.lcd=720p
    setprop ro.sf.lcd_density 320
    setprop ro.hwui.text_small_cache_height 512
    setprop ro.hwui.text_large_cache_height 512

on property:ro.boot.lcd=1080p
    setprop dalvik.vm.heapgrowthlimit 128m
    setprop ro.sf.lcd_density 480
    setprop ro.hwui.text_small_cache_height 512
    setprop ro.hwui.text_large_cache_height 512
    setprop ro.hwui.texture_cache_size 48.0
    setprop ro.hwui.layer_cache_size 32.0
    setprop ro.hwui.fbo_cache_size  32

on property:ro.config.low_ram=true
    # Enable KSM
    write /sys/kernel/mm/ksm/pages_to_scan 100
    write /sys/kernel/mm/ksm/sleep_millisecs 500
    write /sys/kernel/mm/ksm/run 1

    # Config swap page cluster size to 1 page for zRAM
    write /proc/sys/vm/page-cluster 0

    # Enable zRAM swap
    swapon_all /fstab.pxa1908

    # Enable RTCC
    chown system system /sys/module/rtcc/parameters/trigger
    write /sys/module/rtcc/parameters/boost_duration 120
    write /sys/module/rtcc/parameters/enable 1

on property:ro.boot.low_ram=true
    # Android framework needs default property set
    setprop ro.config.low_ram true

on property:sys.boot_completed=1
    # enable touch boost, when boot completed.
#    write /sys/kernel/debug/inputbst_enable 1
#    write /sys/kernel/debug/inputbst_config/cpu_freq 832000
    write /sys/kernel/debug/inputbst_config/ddr_freq 624000
#    write /sys/kernel/debug/inputbst_config/gc2d_freq 312000
#    write /sys/kernel/debug/inputbst_config/gc3d_freq 416000
#    write /sys/kernel/debug/inputbst_config/gcsh_freq 416000
#    write /sys/kernel/debug/inputbst_config/vpu_freq 312000
#    write /sys/kernel/debug/inputbst_config/vpu_time 1500000

    # enable ddr polling interval and other parameters
    write /sys/class/devfreq/devfreq-ddr/polling_interval 50

on property:persist.sys.debug.dump=low
   write /sys/power/panic CRASH_DISABLE

on property:persist.sys.debug.dump=mid
   write /sys/power/panic CRASH_ENABLE

on property:persist.sys.debug.dump=high
    write /sys/power/panic CRASH_ENABLE

on property:persist.sys.debug.anr=atrace
   start atrace_start

on property:ro.build.type=userdebug
   write /sys/kernel/debug/log_ctrl_filter 2

on property:ro.boot.tp=0
    start wac_startup

service atrace_start /system/bin/atrace_start.sh
   class main
   oneshot
   disabled

service atrace_dump /system/bin/atrace_dump.sh
   class main
   oneshot
   disabled

service wac_startup /system/bin/wac_startup /dev/ttyS0
    class core
    user root
    disabled

service modules /sbin/modules.sh
    class core
    oneshot
    user root

service setup_epd /sbin/setup_epd.sh
    class core
    oneshot
    user root

service tty_setup /system/bin/USBDeviceSwitcher.sh serial_conf_setup
    class core
    user root
    oneshot
    disabled

service tty_recover /system/bin/USBDeviceSwitcher.sh serial_conf_recover
    class core
    user root
    oneshot
    disabled

service ifup_rndis /system/bin/USBDeviceSwitcher.sh ifup rndis
    class core
    user root
    oneshot
    disabled

service ifup_ecm /system/bin/USBDeviceSwitcher.sh ifup usb
    class core
    user root
    oneshot
    disabled

service vpn_client_start /system/bin/sh /system/etc/soft_ether_start
    class core
    user root
    oneshot
    disabled

service vpn_client_stop /system/bin/sh /system/etc/soft_ether_stop
    class core
    user root
    oneshot
    disabled

#service upmount /system/bin/mounter.sh
#    class core
#    user root
#    oneshot
#    disabled

service upumount /system/bin/umounter.sh
    class core
    user root
    oneshot
    disabled

service mount_ddat /sbin/mount_ddat.sh
    class core
    oneshot
    user root

service dfile_extract /system/bin/debug_file_extract.sh
    class core
    user root
    oneshot
    disabled
