on init
    write /sys/class/android_usb/android0/idVendor 054c
    write /sys/class/android_usb/android0/bcdDevice 0100
    write /sys/class/android_usb/android0/f_acm/instances 1

on boot
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}


# CDC-ACM(serial)
on property:sys.usb.config=acm,hid
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idProduct 0be5
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=acm,hid,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idProduct 0be5
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=acm,hid,adb,mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idProduct 0be5
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/f_mass_storage/lun/file /dev/block/mmcblk0p16
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}


# CDC-ECM(ethernet)
on property:sys.usb.config=ecm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idProduct 0bdd
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ecm,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idProduct 0bdd
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}


# RNDIS
on property:sys.usb.config=rndis
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idProduct 0bdd
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idProduct 0bdd
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}
